{% extends "layout.html" %}


{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ lookup(transaction[1])["name"] }}</td>
                <td>{{ transaction[1].upper() }}</td>
                <td>{{ transaction[2] }}</td>
                <td>{{ usd(transaction[3]) }}</td>
                <td>{{ transaction[4] }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
{% endblock %}